<div class="container__quiz">
    <div class="quiz__logo">
        <img src="assets/img/logo.png" width="425px" alt="Buzfeed logo">
        <h3>{{title}}</h3>
    </div>
    <div *ngIf = !finished class="quiz__questions">
        <h3>{{questionsSelected.question}}</h3>
    </div>
    <div *ngIf = !finished class="quiz__options">
        <button *ngFor = "let option of questionsSelected.options;" (click)="storeChosenOption(option.alias)" class="btn-option">{{option.name}}</button>
    </div>
    <div *ngIf = finished class="quiz__results">
        <h1>{{finalResult}}</h1>
    </div>
</div>
